<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-4">
        <h1>Рандомный фильм</h1>
        <h2>{{ movie.title }}</h2>
        <p>Год выпуска: {{ movie.year }}</p>

        <div>
            <div>
                <h5>Описание фильма</h5>
                <p>{{ movie.description ?? 'Описание отсутствует' }}</p>
            </div>
        </div>

        <div>
            {# <a href="{{ path('app_movie_base') }}" class="btn btn-secondary">
                ← Назад к списку действий
            </a> #}
        </div>
    </div>
</body>

</html>
